@font-face {
    font-family: Concert-One;
    src: url("../fonts/concertone-regular.ttf") format("truetype");
}

@font-face {
    font-family: Raleway-Cloud;
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}