/* Social Media Logo - General */
.facebook, .instagram,
.youtube, .soundcloud,
.spotify, .apple {
    position: relative;
    -webkit-transition: color 0.1s, scale 0.1s, transform 0.1s;
    transition: color 0.2s, scale 0.1s, transform 0.s;
    padding : 10px;
    width: 39px;
    height: 39px; 
    fill: #000000;
    &:hover {
        -ms-transform: scale(1.5, 1.5);     /* IE 9 */
        -webkit-transform: scale(1.5, 1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5, 1.5);
    }
}

/* Logo Colors (on hover) */
.facebook:hover {
    fill: #3b5998;
}
.instagram:hover{
    fill: url(#instagradient);
}
.youtube:hover {
    fill: #c4302b;
}
.soundcloud:hover {
    fill: #FF6600;
}
.spotify:hover {
    fill: #6AE368;
}
.apple:hover {
    fill: url(#applegradient);
}

/* Container for all logos */
#iconcontainer {
    margin-top: -20px;
    padding: 0;
    height: 65px;
    margin-right: auto !important;
    width: 100% !important;
    text-align: center;
    position: relative;
}
