html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.inline {
  display: inline-block;
  height: 100%;
}

@keyframes inset {
  0% { clip-path: inset(0% round 0%); }
  100% { clip-path: inset(50% round 50%); }
}

/* heading */

.cloud-heading{
  font-family: 'Concert-One', sans-serif;
  font-size: 10vh;
  padding-top: 2%;
  padding-bottom: 0.5%;
  margin-bottom: 0px;
  cursor: pointer;
  color: black;

  text-shadow: 1px 1px 0px white, 3px 3px 0px black;
}

.cloud-heading:hover {
  color: black;
  text-decoration: none;
}

li div a.top.no-pjax {
  font-size: 1.75vh;
}

/* social media buttons */

.no-touchevents #usersite-container div a:focus,
.no-touchevents #usersite-container div a:hover {
  text-decoration: none;
}

div div.title-nav-container {
  padding-top: 1.2vh !important;
  padding-bottom: 1.55vh !important;
}

div div#iconcontainer>a>svg {
  --cloud-aspect: calc(1.1vw + 18px);
  height: var(--cloud-aspect);
  width: var(--cloud-aspect);
  margin-left: 0.15vw;
  margin-right: 0.15vw;
}

/* main-content: general */

div div.center-cloud-content {
  width: 60%;
}

div div#main-content {
  padding: 0px;
  height: 63vh;
  text-align: center;
}

/* who are we section */

#main-content div.mid-pane {
  width: 100%;
  vertical-align: top;
  margin-bottom: 3vh;
}

#main-content h3#who {
  text-align: left;
  font-family: 'Concert-One', sans-serif;
  margin-top: 0px;
  font-size: 3vh;
}

div.mid-pane > p {
  font-size: 1.8vh;
  text-align: left;
}

/* bio section-general */

div.meet-band-pane {
  height: 20vh;
}

div.inline.col-6 {
  padding: 0px;
  width: 49.5%;
}

/* bio section-pictures */

img.headshot {
  width: 70%;
  position: absolute;
  top: 2vh;
  left: 0;
}

div div.meet-band-pane>img.hiddenC {
  display: none;
}

img.zakh.staticBackground,
img.jelly.staticBackground,
img.nathan.staticBackground,
img.andrew.staticBackground {
  animation: none;
  z-index: 1;
}

div.meet-band-pane>img.zakh,
div.meet-band-pane>img.jelly,
div.meet-band-pane>img.nathan,
div.meet-band-pane>img.andrew {
  display: inline !important;
  animation: 1.5s inset;
  z-index: 2;
}

/* bio section-text */

div#bio-section>span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  text-align: left;
  font-size: 1.8vh;
}

div#bio-section>span h3 {
  font-weight: bold;
  padding-top: 1%;
  font-size: 3.5vh;
}

div#bio-section>span h4 {
  font-size: 3vh;
}

div#bio-section>span.showText {
  opacity: 1.0;
  transition: opacity 2s;
}

div#bio-section>span.showText.textWhiteOut {
  opacity: 0.0;
  transition: opacity 0.8s;
}
