html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

img.findMe {
  width: 70%;
  position: absolute;
  top: 2vh;
  left: 0;
}

div#bio-section>span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
}

div#bio-section>span h3 {
  font-weight: bold;
  padding-top: 1%;
}

div#bio-section>span.showText {
  opacity: 1.0;
  transition: opacity 2s;
}

div#bio-section>span.showText.textWhiteOut {
  opacity: 0.0;
  transition: opacity 0.8s;
}

div div.meet-band-pane>img.hiddenC {
  display: none;
}

div.meet-band-pane {
  height: 20vh;
}

div.inline.col-6 {
  padding: 0px;
  width: 49.5%;
}

img.zakh.staticBackground,
img.jelly.staticBackground,
img.nathan.staticBackground,
img.andrew.staticBackground {
  animation: none;
  z-index: 1;
}

div.meet-band-pane>img.zakh,
div.meet-band-pane>img.jelly,
div.meet-band-pane>img.nathan,
div.meet-band-pane>img.andrew {
  display: inline !important;
  animation: 1.5s inset;
  z-index: 2;
}

.cloud-heading{
  font-family: 'Concert-One', sans-serif;
  font-size: 10vh;
  padding-top: 2%;
  padding-bottom: 0.5%;
}

div div#main-content {
  padding: 0px;
  height: 63vh;
}

#main-content h3#who {
  font-family: 'Concert-One', sans-serif;
  margin-top: 0px;
}

#main-content div.mid-pane {
  width: 39vw;
  vertical-align: top;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.inline {
  display: inline-block;
  height: 100%;
}

img#main-image {
  width: 20%;
  height: auto;
  margin-top: 3.5%;
  vertical-align: top;
}

img#main-image.left {
  float: left;
  margin-left: 2%;
  margin-right: 8%
}

img#main-image.right {
  float: right;
  margin-right: 2%;
  margin-left: 8%
}

.no-touchevents #usersite-container div a:focus,
.no-touchevents #usersite-container div a:hover {
  text-decoration: none;
}

@keyframes inset {
  0% { clip-path: inset(0% round 0%); }
  100% { clip-path: inset(50% round 50%); }
}